.customer-table {
    margin-top: auto;
    border-collapse: collapse; 
    width: 80%; 
  }
  
  .customer-table th, .customer-table td {
    border: 2px solid #0f0101; 
    padding: 3px; 
    text-align: center;
     
  }
  
  .customer-table th {
    background-color: #ebebed;
 
  }
  